body {
  font-family: Inter, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
 
  /* box-shadow: 0px 3px 1px #828682; */
}

.nav-bar .paytm-logo img {
  width: 180px;
  height: 55px;
}

.nav-bar .features {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-weight: 600;
}
.nav-bar .features .paytm-for-consumer
{ 
  position: relative;
   border: 2px solid red;

}
.nav-bar .features .paytm-for-consumer .dropdown
{
  display: none;
  position: absolute;
  left: 100px;
  right: 0;
  background-color: white;
  padding: 20px;
  border: 1px solid;
  

}
.nav-bar .features .paytm-for-consumer:hover .dropdown{
  display: flex;
  flex-direction: column;
  gap: 25px;
  
}
.nav-bar .signup-button {
  padding: 2px;
  padding-left: 12px;
  border-radius: 20px;
  background: #00baf2;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.nav-bar .signup-button .fa-user {
  margin-left: 3px;
  border-radius: 50%;
  background-color: rgb(34, 50, 138);
  padding: 8px;
  font-size: 13px;
}

.nav-bar .signup-button:hover {
  background: rgb(34, 50, 138);
}
.nav-bar .signup-button:hover .fa-user {
  background-color: #00baf2;
}

.kyc{
  display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
    padding: 5px;
    background: #f6f6f6;
    font-size: 15px;
    box-shadow: 0px -2px 5px rgb(235, 225, 225);

}
.kyc .no-wallet
{
    font-weight:500;
}
.kyc strong{
    font-weight: 600;
}
.kyc .emoji{
  height: 25px;
  padding: 5px;
}